body {
    text-align: center;
    background-color: rgb(172, 224, 224);
}

h1 {
  margin-bottom: 0;
  font-size: 50px;
}

h2 {
  margin-top: 0;
  font-size: 25px;
}

h3,
p {
    font-family:'Times New Roman', Times, serif;
    margin: 0;
}

h4 {
  color: antiquewhite;
  margin: 0px;
  margin-top: 20px;
  font-family:'Times New Roman', Times, serif;
}

header,
footer  {
  background-color: rgb(68, 68, 68);
  color: antiquewhite;
  padding: 10px;
  text-align: center;
  font-family:'Times New Roman', Times, serif;
  margin-top: -10px;
}

footer {
  font-size: small;
  position: fixed;
  bottom: 0;
  width: 100%;
}

aside,
main {
background-color: rgb(117, 117, 117);;
color: antiquewhite;
font-family: 'Times New Roman', Times, serif;
padding: 10px;
border-radius: 15px;
}

label {
  color: antiquewhite;
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
}

.pure-g [class*=pure-u] {
  border: solid;
  border-color:rgb(187, 133, 236);
}

.row,
header div li {
  display: flex;
  justify-content: space-between;
}

.row {
  margin: 10px;
  max-width: 90%;
  margin-left: 5%;
}

header section {
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  max-width: 60%;
  margin-left: 20%;
}

.box {
  align-content: space-around;
  margin-bottom: 10px;
}

span {
  font-weight: bold;
}

li {
  list-style-type: none;
}

a:link,
a:visited {
  color:  rgb(187, 133, 236);
  text-decoration: none;
}

a:hover {
  color: white;
}

.checkbox {
  margin-bottom: 0;
}

.resBtn,
button {
  color:  rgb(68, 68, 68);
  padding: 10px;
  font-family: 'Times New Roman', Times, serif;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 10px;
}

.res-form,
.res-form select {
  margin-top: 10px;
  color: rgb(68, 68, 68);
}


/* beginning of modal css */

/* modal background */
.modal  {
display: none; 
position: fixed;
overflow: auto;
background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content Box */
.modal-content {
background-color: #fefefe;
margin: 50% auto;
padding: 20px;
border: 1px solid #888;
width: 80%;
}

/* Modal close button */
.modal_close:hover,
.modal_close:focus,
.checkbox:hover {
  color: rgb(68, 68, 68);
  text-decoration: none;
  cursor: pointer;
}

.modal {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center
}

.modal_hidden {
  display: none;
}

.modal_close-bar {
    display: flex;
    justify-content: flex-end;
    margin-right: -1rem;
    margin-left: -1rem;
    margin-top: -1rem;
    background-color: rgb(187, 133, 236);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

.modal_close-bar span {
  margin-right: 10px;
  cursor: pointer;
}

.modal_contents {
    background-color: antiquewhite;
    padding: auto;
    padding: 15px;
    border-radius: 15px;
  }

button {
      width: 50%;
      margin: 10px;
      padding: .5rem;
      border: none;
      color:rgb(68, 68, 68);
      transition: all .4s ease-in-out;
  }

  .loader {
      border: 16px solid #f3f3f3;
      border-radius: 50%;
      border-top: 16px solid #3498db;
      width: 120px;
      height: 120px;
      margin-left: 36.5%;
      -webkit-animation: spin 2s linear infinite;
      animation: spin 2s linear infinite;
      position: absolute;
    }
    
    @-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
    }
    
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
  }
  
  @media only screen and (max-device-width: 380px) {
    .loader{margin-left: 20%;}
    footer p {margin-left: -12%}
  }