/* Save the Date/Decision Maker */
h1 {
color: antiquewhite;
font-family:'Times New Roman', Times, serif
font-size: smaller;
text-align: center;
background-color: black;
color: white;
padding: 20px;
margin-bottom: 0px;
}

body {
    text-align: center;
}
/* Previous Search/Favorite Resurants */
h3 {
    color: antiquewhite
    font-family:'Times New Roman', Times, serif
    font-size: smaller;  
}

/* Main text on the program  */
 main {
color: rgb(187, 133, 236);
font-family: 'Times New Roman', Times, serif
font-size: smaller; 
margin-bottom: 0%;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }

 aside {
background-color: rgb(68, 68, 68);
color: white;
padding: 10px;
height: 110vh;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  /* END OF COPIED TEXT */

  /* beginning of modal css */

/* .modal {
  position: absolute;
  top:1;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center
  &.hidden {
      display: none;
  }
  &._close-bar {
    display: flex;
    justify-content: flex-end;
    margin-right: -1rem;
    margin-top: -1rem;
    cursor: pointer;
  }
  &._contents {
      background color: #ggg;
      padding: auto;
      input[type=telephone-number] {
          width: 100%;
          padding: .5rem;
      }
  }
  button {
      width: 100%;
      padding: .5rem;
      background-color: azure;
      border: none;
      color:cadetblue;
      transition: all .4s ease-in-out;
      &._hover:{
          background-color: #fff;
      } 
  }
}

/* Input boxes
input {
    color: red
    font-family:'Times New Roman', Times, serif
    font-size: smaller;  
} */

/* #section {
color: red
font-family: 'Times New Roman', Times, serif
font-size: smaller; 
}

#label {
    color: red
font-family: 'Times New Roman', Times, serif
font-size: smaller; 
}

#button {
    color: red
font-family: 'Times New Roman', Times, serif
font-size: smaller; 
}

#id {
    color: red
font-family: 'Times New Roman', Times, serif
font-size: smaller; 
} */ */